permalink: /news
title: News
layout: site.liquid
data:
  route: news
---
<h2>News</h2>

{% assign years = "2019, 2018, 2017" | split: ", " %}
{% for year in years %}

<h3>{{year}}</h3>

<ul>
  {% for post in collections.posts.pages %}
    {% assign postyear = post.published_date | date: "%Y" %}
    {% if postyear == year %}
      <li>{{ post.published_date | date: "%d %b"}}: <a href="/{{post.permalink }}">{{post.title}}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{%endfor%}
