<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{#title}}
<title>{{title}} - Hello, Rust!</title>
{{/title}}
{{^title}}
<title>Hello, Rust!</title>
{{/title}}
<meta name="keywords" content="Rust, Rust programming language, rustlang, rust-lang, Mozilla Rust, WebAssembly, wasm">
<link rel="stylesheet" href="/bootstrap.css">
<link rel="stylesheet" href="/style.css">

<link rel="stylesheet" href="/assets/default.min.css">
<script src="/assets/highlight.min.js"></script>
