<header>
  <ul class="row menu">
    <li class="col-xs-12 col-md-10">
      <h1><a href="/">Hello, Rust!</a></h1>
      <h3>Rust for the Web</h3>
    </li>

    <li class="col-xs-12 col-md-10">
      <h2><a href="/news/">News</a></h2>
      <h2><a href="/setup/">Setup</a></h2>
      <h2><a href="/demos/">Demos</a></h2>
      <h2><a href="/talks/">Talks</a></h2>
      <h2><a href="/resources/">Resources</a></h2>
    </li>
  </ul>
</header>
