<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include "_layouts/_head.liquid" }}
  </head>

  <body class="container">
    {{ include "_layouts/_menu.liquid" }}

    <div class="row install-row">
      <div class="col-md-8">
        <p class="pitch">
          The Rust Community team is dedicated to bringing new people into the 
          Rust Programming Language's community, 
          and helping established Rust communities thrive.
        </p>
      </div>
    </div>
    <div class="row code-row">

      <div class="col-md-6">
        <h2>The Community Team</h2>
        <ul>
          <li>Was <a href="https://internals.rust-lang.org/t/announcing-the-community-subteam/2248">announced</a> in June 2015</li>
          <li>Exists to help:
            <ul>
              <li>Create and curate reusable community materials</li>
              <li>Learn from and assist other tech communities</li>
              <li>Curate and publicize the ecosystem of Rust projects</li>
              <li>Lead outreach efforts</li>
              <li>Help coordinate user-led meetups and conferences</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Find a Meetup or conference</h2>
        <ul>
          <li>Search <a href="https://www.meetup.com/find/?allMeetups=true&keywords=rust&radius=Infinity">Meetup</a></li>
          <li>Search <a href="http://lanyrd.com/topics/rust/">Lanyrd</a></li>
          <li>Read <a href="https://blog.rust-lang.org">the blog</a> for posts like the <a href="https://blog.rust-lang.org/2016/07/25/conf-lineup.html">2016 conference lineup</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Get Involved</h2>
        <ul>
          <li>Community team meetings are 4pm UTC every Wednesday in <em><a href="http://chat.mibbit.com/?server=irc.mozilla.org&channel=%23rust-community">#rust-community</a></em> on <em><a href="http://chat.mibbit.com/?server=irc.mozilla.org&channel=%23rust-community">irc.mozilla.org</a></em></li>
          <li>Agendas and tasks are kept in <a href="https://github.com/rust-community/team/issues">GitHub issues</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Promote Rust</h2>
        <ul>
          <li>Print a couple of <a href="https://github.com/rust-community/resources/blob/gh-pages/resources-business-card.odt?raw=true">"Getting started with Rust" business cards</a> and hand them out wherever you go.</li>
        </ul>
      </div>

  </body>
</html>
