<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_head.liquid" %}
  </head>

  <body class="container">
    {% include "_menu.liquid" %}

    <div class="row code-row">
      <div class="col-md-12">
          <article>
              <h1>{{ page.title }}</h1>
              <time pubdate="pubdate">{{ page.published_date | date: "%b %d, %Y" }}</time>
              - {{ page.data.author }}


              {{ page.content }}
          </article>
      </div>
    </div>

    {% include "_footer.liquid" %}
  </body>
</html>
