<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_head.liquid" %}
  </head>

  <body class="container">
    {% include "_menu.liquid" %}

    <div class="row code-row">
      <div class="col-md-12">
        {{ page.content }}
      </div>
    </div>

    {% include "_footer.liquid" %}
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
